@import "tailwindcss";
@tailwind base;
@tailwind components; 
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
 
  background-color: #020617;
  

  overscroll-behavior-y: none;
  

  overflow-x: hidden;
  

  -webkit-overflow-scrolling: touch;
}

/* ========================================= */

.NavLinkStyle{
  @apply flex flex-col justify-center items-center md:text-xl font-[500] hover:text-cyan-500 duration-300
}

.icons{
  @apply border-2 rounded-full h-12 w-12 border-cyan-500 hover:bg-cyan-700 duration-300;
}

.btn{
  @apply bg-cyan-500 text-xl md:text-2xl px-5 py-2.5 rounded-full text-black font-[600] hover:shadow-lg hover:shadow-cyan-500 hover:bg-black hover:text-white duration-300 shadow-lg shadow-gray-400 block
}

.messages {
  max-height: 400px;
  overflow-y: auto;
}

.bg-img{
  width: 400px;
  height: 450px;
}

.ani{
  animation: auly 3s ease-in-out infinite;
}

@keyframes auly{
  0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg); } 
}
#Nahid{
   font-family: 'Great Vibes', cursive;
            letter-spacing: 2px;
            font-style: italic;
}



.perspective-1000 {
  perspective: 1000px;
}

.animate-spin-slow {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mask-image-radial-gradient {
  -webkit-mask-image: radial-gradient(circle, black 40%, transparent 70%);
  mask-image: radial-gradient(circle, black 40%, transparent 70%);
}