@import "tailwindcss";
@tailwind base;
@tailwind components; 
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');




.font-poppins {
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
 
  background-color: #020617;

  overflow-x: hidden;
  

  -webkit-overflow-scrolling: touch;
}

.headerlogof{
 font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.headerlogo{
 font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.headername{
 font-family: "Agbalumo", system-ui;
  font-weight: 200;
  font-style: italic;
}



.Nahid{
font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
font-size: larger;

}

.perspective-1000 {
  perspective: 1000px;
}

.animate-spin-slow {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mask-image-radial-gradient {
  -webkit-mask-image: radial-gradient(circle, black 40%, transparent 70%);
  mask-image: radial-gradient(circle, black 40%, transparent 70%);
}

.brand-logo {
  font-family: 'Righteous', cursive;
  font-weight: 400 !important;
  letter-spacing: 0.05em;    
}

.logoText{
 font-family: "Agbalumo", system-ui;
  font-weight: 200;
  font-style: italic;
}